/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b4e2e4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #87b1b4;
    color: #fff;
    padding: 10px;
    text-align:center;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.create-post, .update-post {
    background-color: #9bbaf3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
}

button[type="submit"] {
    background-color: #5b6eac;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c5b0c4;
}
